{% extends "./index.html" %}

{% block title %} Space4All | Sobre nós {% endblock %}

{% load static %}

{% block body %}

    <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
    <script nomodule src="https://unpkg.com/@google/model-viewer/dist/model-viewer-legacy.js"></script>
    <br>
        <div id="aSide">
        <model-viewer loading="eager" src="{% static "media/3D/astronaut.glb" %}" alt="Astronauta" auto-rotate camera-controls ar ios-src="{% static "media/3D/astronaut.glb" %}"></model-viewer>
        <style>
            /* This styles the aside container */
            #aSide {
                height: 600px;
                width: 600px;
                position: absolute;
                top: calc(50% - 220px);
                left: 50%;
            }

            /* This styles the 3D object inserted in the aside container */
            #aSide model-viewer {
                height: 600px;
                width: 600px;
                position: absolute;
                top: 0;
                left: 0;
                border: none;
                --poster-color: transparent;
            }
        </style>
    </div>
    <br>
    <div style="top: 20%; float: left; width: 50%">
    <figure class="text-center" style="margin: 30px 20px 10px 20px">
        <div>
          <div class="container py-5">
            <div class="row h-100 align-items-left py-5">
                <h1 style="color: white; text-align: center;" class="glow display-4">Sobre nós</h1>
                <p style="color: #ffffff" class="lead">A Space4All nasceu da emergente necessidade de se realizarem viagens comerciais ao espaço, uma vez que os materiais provenientes doutros planetas vieram contribuir positivamente para a sustentabilidade da Terra.</p>
                </div>
            </div>
          </div>
    </figure>
        </div>

        <div id="bSide">
            <model-viewer loading="eager" src="{% static "media/3D/spaceship.glb" %}" alt="Nave Espacial" auto-rotate camera-controls ar ios-src="{% static "media/3D/spaceship.glb" %}"></model-viewer>
        <style>
            /* This styles the aside container */
            #bSide {
                height: 600px;
                width: 600px;
                position: absolute;
                top: calc(50% + 240px);
                right: 50%;
            }

            /* This styles the 3D object inserted in the aside container */
            #bSide model-viewer {
                height: 600px;
                width: 600px;
                position: absolute;
                top: 0;
                left: 0;
                border: none;
                --poster-color: transparent;
            }
        </style>
    </div>

    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

        <div style="top: 90%; float: right; width: 50%">
    <figure class="text-center" style="margin: 30px 20px 10px 20px">
          <div class="container py-5">
            <div class="row h-100 align-items-right py-5">
                <h1 style="color: white; text-align: center;" class="glow display-4">O que nos define</h1>
                <p style="color: #ffffff" class="lead">A empresa cresceu de tal forma, que a população começou a ganhar interesse no que esta tinha para oferecer, tendo por isso evoluído de ser uma empresa dedicada a viagens comerciais, para também dar a oportunidade do início de viagens turísticas aos outros planetas do nosso sistema, sendo por isso pioneira neste sector.</p>
                 <br><br><br><br><br><br><br><br>
              </div>
          </div>
    </figure>
        </div>

    <br><br><br><br><br><br><br>
    <footer>
            <div style="top: 90%; float: right; width: 50%">
    <figure class="text-center" style="margin: 30px 20px 10px 20px">
          <div class="container py-5">
            <div class="row h-100 align-items-center py-5">
                 <br><br><br><br><br><br>
              </div>
          </div>
    </figure>
        </div>
            <p style="color: #ffffff; text-align: center" class="lead">Um pequeno passo para o Homem, um grande passo para a Humanidade.</p>
    </footer>



{% endblock %}

{% block planetSlider %}

{% endblock %}