{% extends "./index.html" %}

{% block title %} Space4All | Sobre nós {% endblock %}

{% load static %}

{% block body %}

    <br><br>
    <style>
        .glow {
          color: #fff;
          text-align: left;
          animation: glow 1s ease-in-out infinite alternate;
        }

        @-webkit-keyframes glow {
          from {
            text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #8d8d8d, 0 0 40px #8d8d8d, 0 0 50px #8d8d8d, 0 0 60px #8d8d8d, 0 0 70px #8d8d8d;
          }

          to {
            text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #8d8d8d, 0 0 50px #8d8d8d, 0 0 60px #8d8d8d, 0 0 70px #8d8d8d, 0 0 80px #8d8d8d;
          }
        }
    </style>
    <h2 class="glow" style="text-align: center; font-family: 'Arial Black'">Sobre nós</h2>

    <figure class="text-center" style="margin: 30px 20px 10px 20px">
        <p class="lead" style="color: white">A Space4All nasceu da emergente necessidade de se realizarem viagens comerciais ao espaço, uma vez que os materiais provenientes doutros planetas vieram contribuir positivamente para a sustentabilidade da Terra.</p>
        <p class="lead" style="color: white">A empresa cresceu de tal forma, que a população começou a ganhar interesse no que esta tinha para oferecer, tendo por isso evoluído de ser uma empresa dedicada a viagens comerciais, para também dar a oportunidade do início de viagens turísticas aos outros planetas do nosso sistema, sendo por isso pioneira neste sector.</p>
    </figure>

{% endblock %}

{% block planetSlider %}

{% endblock %}