{% extends "./index.html" %}

{% block title %} Space4All | Gestão de Clientes {% endblock %}

{% load static %}

{% block planetSlider %}
{% endblock %}

{% block body %}
<div>
      <br><br>
      <h1 style="color: white; text-align: center;" class="glow display-4">Gestão de Clientes</h1>
      <br><br>
      {% if user_list %}
      <table class="table align-middle mb-0 bg-white w-75" style="border-radius: 10px; margin-left: auto; margin-right: auto;">
        <thead class="bg-light">
          <tr>
            <th>Nome de utilizador</th>
            <th>E-mail</th>
            <th>Último início de sessão</th>
            <th>Data de criação</th>
            <th>Eliminar Cliente</th>
          </tr>
        </thead>
        <tbody>
            {% for user in user_list %}
                {% if user.is_superuser == 0 %}
                  <tr>
                    <td>
                      <div class="d-flex align-items-center">
                        {% if user.photo.photo_url %}
                            <img src="{{ user.photo.photo_url }}" alt="Imagem do utilizador" style="width: 45px; height: 45px" class="rounded-circle">
                        {% else %}
                            <img src="{% static 'media/astronaut-user.png' %}" alt="Imagem do utilizador" style="width: 45px; height: 45px" class="rounded-circle">
                        {% endif %}
                        <div class="ms-3">
                          {{ user.username }}
                        </div>
                      </div>
                    </td>
                    <td>
                        {{ user.email }}
                    </td>
                      <td>
                        {{ user.last_login|date:"d/m/Y - h:m" }}
                    </td>
                    <td>
                        {{ user.date_joined|date:"d/m/Y - h:m"  }}
                    </td>
                    <td>
                        <script>
                            function validate(form) {

                                if(!valid) {
                                    alert('Por favor, corrija os erros do formulário!');
                                    return false;
                                }
                                else {
                                    return confirm('Tem a certeza de que deseja eliminar o utilizador?');
                                }
                            }
                        </script>
                        <form action="{% url 'space_trip:deleteUser' user.id %}" onSubmit="return confirm('Tem a certeza de que deseja eliminar o utilizador?')">
                            {% csrf_token %}
                            <input class="btn btn-primary btn-block fa-lg gradient-custom-2" type="submit" value="Eliminar"/>
                        </form>
                    </td>
                  </tr>
                {% endif %}
            {% endfor %}
        </tbody>
      </table>
      {% else %}
          <h1 style="color: white; text-align: center;" class="glow display-4">Não existem utilizadores</h1>
      {% endif %}
</div>

{% endblock %}
