{% extends "./secondbase.html" %}

{% block title %} Criar conta {% endblock %}

{% block body %}

<form id="form1" action="{% url 'space_trip:createaccount'%}" method="post">
    {% csrf_token %}
    <div>
      <h1>CRIAR CONTA</h1>
      <label for="firstname"><strong>Primeiro Nome:</strong></label><br>
        <input type="text" name="firstname" required>
        <br><br>
        <label for="surname"><strong>Último Nome:</strong></label><br>
        <input type="text" name="surname" required>
        <br><br>
        <label for="birthday"><strong>Data de Nascimento:</strong></label><br>
        <input type="date" name="birthday" required>
        <br><br>
        <label for="planetionality"><strong>Planetalidade:</strong></label><br>
        <select data-drupal-selector="edit-profile-planetionality" id="edit-profile-planetionality" name="profile[nationality]" class="form-select required custom-select" required="required" aria-required="true"><option value="" selected="selected">- Por favor, selecione um planeta -</option><option value="LU">Lua</option><option value="ME">Mercúrio</option><option value="VE">Vénus</option><option value="TE">Terra</option><option value="MA">Marte</option><option value="JU">Júpiter</option><option value="SA">Saturno</option><option value="UR">Urano</option><option value="NE">Neptuno</option>
        </select>
        <br><br>
        <label for="birthday"><strong>Género:</strong></label><br>
        <select data-drupal-selector="edit-profile-gender" id="edit-profile-gender" name="profile[gender]" class="form-select custom-select"><option value="MALE">Masculino</option><option value="FEMALE">Feminino</option></select>
        <br><br>
        <label for="email"><strong>E-mail:</strong></label><br>
        <input type="text" placeholder="Introduzir e-mail" name="email" required>
        <br><br>
        <label for="password"><strong>Palavra-passe:</strong></label><br>
        <input type="password" placeholder="Criar palavra-passe" name="password" required>
        <br><br>
      </div>
      <button type="submit"><strong>Criar Conta</strong></button>
</form>
   <br>
   <br>

{% endblock %}