{% extends "./index.html" %}

{% block title %} Space4All | Terra {% endblock %}

{% load static %}

{% block body %}

    <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
    <script nomodule src="https://unpkg.com/@google/model-viewer/dist/model-viewer-legacy.js"></script>
    <br>
        <div id="aSide">
        <model-viewer loading="eager" src="{% static "media/3D/earth.glb" %}" alt="Terra" auto-rotate camera-controls ar ios-src="{% static "media/3D/earth.glb" %}"></model-viewer>
        <style>
            /* This styles the aside container */
            #aSide {
                height: 600px;
                width: 600px;
                position: fixed;
                top: calc(50% - 250px);
                right: 50%;
            }

            /* This styles the 3D object inserted in the aside container */
            #aSide model-viewer {
                height: 600px;
                width: 600px;
                position: absolute;
                top: 0;
                left: 0;
                border: none;
                --poster-color: transparent;
            }
        </style>
    </div>
    <br>
    <div style="float: right; width: 50%">
            <style>
                @import url('https://fonts.googleapis.com/css?family=Titillium+Web');
                .planetname {
                    display: block;
                    font-size: 1.80em;
                    font-weight: bold;
                    color: #fbdcb9;
                    font-family: 'Titillium Web', sans-serif;
                    letter-spacing: 2px;
                    text-align: center;
                }
            </style>
        <h2 class="planetname">Terra</h2>
        <figure class="text-center" style="margin: 30px 20px 10px 20px">
            <p class="lead" style="color: white">A Terra, o planeta que habitamos, é o terceiro na ordem das distâncias ao Sol. Devido ao movimento de rotação, a Terra não possui uma forma perfeitamente esférica, assemelha-se, antes, a um elipsoide de revolução com um valor de achatamento de 1/297, sendo de 42,96 km a diferença entre os diâmetros equatorial e polar. Possui um diâmetro equatorial de 12 756,28 km e um raio médio de 6378,14 km. Apresenta apenas um satélite, a Lua.</p>
            <p class="lead" style="color: white">A superfície terrestre é irregular devido às montanhas, por isso Listing definiu o chamado geóide, uma superfície imaginária dotada da propriedade de ter cada um dos seus elementos normais ao fio de prumo. A área de superfície total ronda os 510 milhões de km2, dos quais 70,8% são ocupados pelos oceanos e os restantes 29,2% pelos continentes.</p>
            <p class="lead" style="color: white">No seu movimento orbital pouco excêntrico (e = 0,0164), a Terra dista do Sol em média cerca de 149,6 milhões de quilómetros. Esta distância serve de medida para outras e ficou conhecida por Unidade Astronómica (U.A.).</p>
            <p class="lead" style="color: white">Possui um único satélite, a Lua, que gira em torno dela a uma distância média de 60,3 vezes o raio da Terra.</p>
            <p class="lead" style="color: white">A sua densidade superficial é baixa (2,7 g/cm3), mas a sua densidade média é de 5,52 g/cm3, logo o seu núcleo terá que ser constituído por metais pesados, para compensar a discrepância dos valores. À medida que nos deslocamos para o seu interior, a temperatura aumenta cerca de 3o por cada 100 metros. No entanto, sabe-se que a determinadas profundidades a temperatura aumenta abruptamente.</p>
            <p class="lead" style="color: white">Com o estudo da velocidade de propagação das ondas sísmicas obtemos as melhores informações. Estas ondas são dotadas de diferentes velocidades de propagação e a interpretação dos resultados obtidos com o seu estudo conduziu a admitir um núcleo a uma profundidade de 4700 km muito denso (ferro e níquel) e do qual apenas a parte externa seria líquida. Revelou, ainda, que a densidade cresce primeiro lentamente, para saltar depois bruscamente, a 2900 km, de 6 para 10.</p>
            <p class="lead" style="color: white">Com uma massa de 5,9737 x 1024 kg, a Terra está animada de catorze movimentos distintos:</p>
            <p class="lead" style="color: white">1- A rotação completa demora exatamente 23 h 56 min 4 s; os restantes 3 min 56 s são acrescentados para compensar o movimento de translação, para que o Sol no seu movimento aparente passe pelo meridiano do lugar. O plano equatorial faz com o plano da órbita um ângulo de 23º 27´. É o movimento de rotação que origina a sucessão dos dias e das noites. A velocidade de rotação tem o seu valor máximo no equador (460 m/s) e é nula nos polos. Sabe-se atualmente que o movimento de rotação não é rigorosamente constante e para investigações de alta precisão adota-se o tempo das efemérides.</p>
            <p class="lead" style="color: white">2- A translação completa demora 365,24 dias. Como o seu movimento não é rigorosamente circular, a velocidade de translação também não é constante, mas o seu valor médio é de 29,79 m/s. O movimento de translação, conjugado com a inclinação do eixo de rotação sobre o plano da órbita, dá lugar às diferentes estações do ano.</p>
            <p class="lead" style="color: white">3- A recessão dos equinócios é um movimento periódico do eixo de rotação, com um período de 26 000 anos. O eixo, nesse movimento, descreve uma superfície cónica com uma amplitude de 47o.</p>
            <p class="lead" style="color: white">4- A nutação é um movimento oscilatório periódico do eixo de rotação, mas agora com a amplitude de 18´´ (arcos de segundo) e um período de 18,6 anos, sendo causada pela atração da Lua.</p>
            <p class="lead" style="color: white">5- A rotação da linha das ápsides, no sentido direto, é resultante da ação conjunta de todos os outros planetas do sistema solar.</p>
            <p class="lead" style="color: white">6- A variação da obliquidade da eclíptica em cerca de 0,48´´ (arcos de segundo) por ano é outro dos fenómenos periódicos.</p>
            <p class="lead" style="color: white">7- As perturbações que afastam a Terra da sua órbita elíptica são devidas à variação das distâncias que a separam dos outros planetas, originando assim variações nas ações atrativas dos mesmos.</p>
            <p class="lead" style="color: white">8- A variação da excentricidade da órbita terrestre, num período de 80 000 anos, é devida, também, à ação planetária sobre a massa da Terra. Na nossa época a excentricidade está a diminuir e assim continuará até atingir um valor quase nulo, após o qual aumentará. Esse valor mínimo será atingido dentro de 24 000 anos.</p>
            <p class="lead" style="color: white">9- Movimento mensal em torno do sistema Terra-Lua. Devido à maior massa da Terra, o centro de massa do sistema está 80 vezes mais próximo da Terra do que da Lua. Esse ponto move-se em círculo.</p>
            <p class="lead" style="color: white">10- O movimento dos polos à superfície da Terra é uma variação da latitude dos diferentes lugares da Terra, oscilando os polos em torno de uma posição média, da qual não se afastam mais de 15 metros. Este movimento resulta do facto de o eixo de rotação não coincidir com o eixo de simetria.</p>
            <p class="lead" style="color: white">11- O efeito das marés na crusta terrestre corresponde a deformações periódicas na parte sólida do planeta, devidas à influência das forças gravíticas do Sol e da Lua.</p>
            <p class="lead" style="color: white">12- O deslocamento do centro de massa do Sistema Solar. Como as posições dos planetas variam continuamente, o centro de massa do Sistema Solar, em torno do qual a Terra gira, varia também.</p>
            <p class="lead" style="color: white">13- Deslocamento da Terra para o ápex, acompanhando o Sol no seu movimento. O Sol desloca-se em direção à constelação de Hércules, próximo da estrela Vega da Lira, com uma velocidade de cerca de 20 km.s-1. Com ela todos os outros planetas são arrastados.</p>
            <p class="lead" style="color: white">14- Movimento de rotação em torno da nossa Galáxia, a Via Láctea. O Sol, e com ele a Terra e os restantes planetas, gira num período de 200 milhões de anos e com uma velocidade de 250 km.s-1, em torno do centro da Galáxia.</p>
            <p class="lead" style="color: white">A atmosfera terrestre estende-se a uma altitude de cerca de 1000 km em relação ao nível médio das águas do mar. Há a salientar na atmosfera as seguintes regiões: a troposfera, que se estende do solo até 10 a 15 km e onde ocorrem quase todos os fenómenos meteorológicos; a estratosfera, que se estende por mais 30 km de altura, com uma temperatura quase uniforme (-55 ºC); e a ionosfera, região onde se produzem as auroras polares, provocadas pela entrada na atmosfera de partículas eletrizadas provenientes do Sol. Na ionosfera, que ainda se subdivide em quatro camadas, quase todas as partículas estão ionizadas.</p>
            <p class="lead" style="color: white">A idade da Terra, segundo cálculos de radioatividade, ronda os 5 mil milhões de anos.</p>
        </figure>
    </div>

{% endblock %}

{% block planetSlider %}

{% endblock %}