{% extends "./index.html" %}

{% block title %} Space4All | Editar perfil {% endblock %}

{% load static %}

{% block body %}

    {% if request.user.is_authenticated %}
        <section class="h-100 gradient-custom-2">
          <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
              <div class="col col-lg-9 col-xl-7">
                <div class="card">
                  <div class="rounded-top text-white d-flex flex-row" style="background-color: #6c6d71; height:200px;">
                    <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                        {% if uploaded_file_url %}
                            <img src="{{ uploaded_file_url }}" alt="Imagem do utilizador" class="img-fluid img-thumbnail mt-4 mb-2" style="width: 150px; z-index: 1" onmouseover="showUserInfo()" id="u" onmouseout="hideUserInfo()">
                        {% else %}
                            <img src="{% static 'media/astronaut-user.png' %}" alt="Imagem do utilizador" class="img-fluid img-thumbnail mt-4 mb-2" style="width: 150px; z-index: 1" onmouseover="showUserInfo()" id="u" onmouseout="hideUserInfo()">
                        {% endif %}
                    </div>
                    <div class="ms-3" style="margin-top: 130px;">
                      <h5>{{request.user.client.firstname}} {{request.user.client.surname}}</h5>
                      <p>{{request.user.client.planetionality}}</p>
                    </div>
                  </div>
                  <div class="p-4 text-black" style="background-color: #f8f9fa;">
                  <script>
                    function setup() {
                        document.getElementById('buttonid').addEventListener('click', openDialog);
                        function openDialog() {
                            document.getElementById('fileid').click();
                        }
                        document.getElementById('fileid').addEventListener('change', submitForm);
                        function submitForm() {
                            document.getElementById('formid').submit();
                        }
                    }
                </script>
              <body onload="setup()">
                <form id='formid' action="{% url 'space_trip:editUserData' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input id='fileid' type='file' name='filename' hidden/>
                    <input id='buttonid' type='button' class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" style="z-index: 1" value='Atualizar foto'/>
                    <br>
    <div class="container">
		<div class="main-body">
			<div class="row">
					<div class="card">
						<div class="card-body">
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">Primeiro Nome:</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<input type="text" class="form-control" value="{{request.user.client.firstname}}" readonly>
								</div>
							</div>
                            <div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">Apelido:</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<input type="text" class="form-control" value="{{request.user.client.surname}}" readonly>
								</div>
							</div>
                            <div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">Nome de utilizador:</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<input name="username" type="text" class="form-control" value="{{request.user.username}}" readonly>
								</div>
							</div>
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">E-mail:</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<input name="email" type="text" class="form-control" value="{{request.user.email}}">
								</div>
							</div>
                            <div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">Palavra-passe:</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<input name="password" type="password" class="form-control" value="{{request.user.password}}">
								</div>
							</div>
                            <div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">Data de Nascimento:</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<input name="birthday" type="date" class="form-control" value="{{request.user.client.birthday}}" readonly>
								</div>
							</div>
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">Género:</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<input name="gender" type="text" class="form-control" value="{{request.user.client.gender}}" readonly>
								</div>
							</div>
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">Planetalidade:</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<input name="planetionality" type="text" class="form-control" value="{{request.user.client.planetionality}}" readonly>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-3"></div>
								<div class="col-sm-9 text-secondary">
									<button type="submit" class="btn btn-outline-danger"/>Guardar alterações
								</div>
						</div>
					</div>
			</div>
		</div>
	</div>
                  </div>
                  </div>
                </div>
              </div>
            </div>
        </section>
            </form>
      </body>

    {% endif %}

{% endblock %}

{% block planetSlider %}

{% endblock %}