{% extends "./index.html" %}

{% block title %} Space4All | Galeria {% endblock %}

{% load static %}

{% block body %}

    <br><br>

    <h1 style="color: white; text-align: center;" class="glow display-4">Galeria</h1>

    <br><br>

    <!-- Gallery -->
<div class="row">
  <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
    <img
      src="{% static 'media/death-star.jpeg' %}"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Death Star"
    />

    <img
      src="{% static 'media/imperial-shuttle.jpeg' %}"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Wintry Mountain Landscape"
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">

    <img
      src="{% static 'media/millenium-falcon.jpg' %}"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Millenium Falcon"
    />
  </div>

  <div class="col-lg-4 mb-4 mb-lg-0">
    <img
      src="{% static 'media/x-wing.jpeg' %}"
      class="w-100 shadow-1-strong rounded mb-4"
      alt="Waves at Sea"
    />
    />
  </div>
</div>
<!-- Gallery -->

{% endblock %}

{% block planetSlider %}

{% endblock %}