<!DOCTYPE html>
<html lang="pt">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="{% static 'spicy space/favicon.ico' %}"/>
    <title> {% block title %} Space4All {% endblock %} </title>
    <link rel="stylesheet" type="text/css" href="{% static 'space_trip/css/bootstrap.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/MorphSVGPlugin.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.8.1/css/all.css"></script>

</head>

<meta name="viewport" content="width=device-width, initial-scale=1">

{% block navbar %}
<!-- Navbar -->
<script>
    document.addEventListener("DOMContentLoaded", function(){
      window.addEventListener('scroll', function() {
          if (window.scrollY > 5) {
            document.getElementById('navbar_top').classList.add('fixed-top');
            // add padding top to show content behind navbar
            navbar_height = document.querySelector('.navbar').offsetHeight;
            document.body.style.paddingTop = navbar_height + 'px';
          } else {
            document.getElementById('navbar_top').classList.remove('fixed-top');
             // remove padding top from body
            document.body.style.paddingTop = '0';
          }
      });
    });
</script>
<nav id="navbar_top" class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!-- Container wrapper -->
    <div class="container">
        <!-- Navbar brand -->
        <a class="navbar-brand me-2" href="{% url 'space_trip:index' %}">
            <img src="{% static 'spicy space/SPACE4ALL_02 transparent.png' %}" height="60px" alt="Logo"
                 loading="lazy" style="margin-top: -1px;"/>
        </a>

        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                data-mdb-target="#navbarButtonsExample" aria-controls="navbarButtonsExample" aria-expanded="false"
                aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <!-- Collapsible wrapper -->
        <div class="collapse navbar-collapse" id="navbarButtonsExample">
            <!-- Left links -->
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            </ul>
            <!-- Left links -->

            <!-- Links -->
            <div class="mx-5">
                <ul class="navbar-nav" style="position: relative;">
                    {% if request.user.is_authenticated and request.user.is_superuser %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Administração
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <a class="dropdown-item" href="{% url 'space_trip:client-management' %}">Gestão de Clientes</a>
                          <a class="dropdown-item" href="{% url 'space_trip:trip-management' %}">Gestão de Viagens</a>
                        </div>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'space_trip:promotions' %}">Promoções</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'space_trip:destinations' %}">Destinos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'space_trip:gallery' %}">Galeria</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'space_trip:about-us' %}">Sobre nós</a>
                    </li>
                    {% if request.user.is_authenticated %}
                    <li class="nav-item glow">
                        <a class="nav-link">Bem-vindo, {{request.user.username}}</a>
                    </li>
                    {% endif %}

                </ul>
            </div>
            <div class="d-flex align-items-center">
                {% if request.user.is_authenticated %}
                    <a type="button" class="btn btn-secondary me-3" href="{% url 'space_trip:profile' %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                        </svg>
                        MySpace
                    </a>
                {% else %}
                    <a type="button" class="btn btn-secondary me-3" href="{% url 'space_trip:user_login' %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                        </svg>
                        MySpace
                    </a>
                {% endif %}
            </div>
        <!-- Collapsible wrapper -->
        </div>
    </div>
    <!-- Container wrapper -->
</nav>
<!-- Navbar -->
<style>
        .glow {
          color: #fff;
          text-align: left;
          animation: glow 1s ease-in-out infinite alternate;
        }

        @-webkit-keyframes glow {
          from {
            text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #8d8d8d, 0 0 40px #8d8d8d, 0 0 50px #8d8d8d, 0 0 60px #8d8d8d, 0 0 70px #8d8d8d;
          }

          to {
            text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #8d8d8d, 0 0 50px #8d8d8d, 0 0 60px #8d8d8d, 0 0 70px #8d8d8d, 0 0 80px #8d8d8d;
          }
        }
</style>
{% endblock %}

{% block body %}
    <!-- Sidebar -->
    <br>
    <div class="row">
        <div class="col-lg-6 ">
            <div class="card" style="width: 18rem; left: 10%; top: 5%; position: relative;">
                <div class="card-header">
                    <div class="bg-white shadow-sm pt-4 pl-2 pr-2 pb-2">
                        <!-- Trip form tabs -->
                        <ul role="tablist" class="nav bg-light nav-pills rounded nav-fill mb-3">
                            <li class="nav-item"> <a data-toggle="pill" href="#normaltrip" class="nav-link active "> <i class="fas fa-credit-card mr-2"></i> Ida e volta </a> </li>
                            <li class="nav-item"> <a data-toggle="pill" href="#onewaytrip" class="nav-link "> <i class="fab fa-paypal mr-2"></i> Só ida </a> </li>
                        </ul>
                    </div> <!-- End -->
                    <!-- Viagem de ida e volta form content -->
                    <div class="tab-content">
                        <!-- Viagem de ida e volta -->
                        <div id="normaltrip" class="tab-pane fade show active pt-3">
                            <form role="form" onsubmit="event.preventDefault()">
                                <div class="form-group "> <label for="origin">
                                <h6>Origem:</h6>
                            </label> <select id="origin" name="origin" class="form-control" id="ccmonth">
                                <option value="" selected disabled>- Por favor, selecione a origem -</option>
                                <option>Mercúrio</option><option>Vénus</option><option>Terra</option><option>Lua</option><option>Marte</option><option>Júpiter</option><option>Saturno</option><option>Urano</option><option>Neptuno</option>
                            </select>
                                </div>
                                <br>
                                <div class="form-group ">
                                    <label for="destination"><h6>Destino:</h6></label> <select id="destination" name="destination" class="form-control" id="ccmonth">
                                <option value="" selected disabled>- Por favor, selecione o destino -</option>
                                <option>Mercúrio</option><option>Vénus</option><option>Terra</option><option>Lua</option><option>Marte</option><option>Júpiter</option><option>Saturno</option><option>Urano</option><option>Neptuno</option>
                            </select>
                                </div>
                                <br>
                                <div class="card-footer">
                                    <a href="{% url 'space_trip:planTrip' %}" class="btn btn-primary">Pesquisar</a>
                            </form>
                        </div>
                    </div> <!-- End -->
                    <!-- Viagem só de ida -->
                    <div id="onewaytrip" class="tab-pane fade pt-3">
                            <form role="form" onsubmit="event.preventDefault()">
                                <div class="form-group ">
                                    <label for="destination"><h6>Destino:</h6></label> <select class="form-control" id="ccmonth">
                                <option value="" selected disabled>- Por favor, selecione o destino -</option>
                                <option>Mercúrio</option><option>Vénus</option><option>Terra</option><option>Lua</option><option>Marte</option><option>Júpiter</option><option>Saturno</option><option>Urano</option><option>Neptuno</option>
                            </select>
                                </div>
                                <br>
                                <div class="card-footer">
                                    <a href="{% url 'space_trip:planTrip' %}" class="btn btn-primary">Pesquisar</a>
                            </form>
                    </div> <!-- End -->
                    <!-- End -->
                </div>
            </div>
        </div>
    </div>
    <script>
        $(function() {
          $('[data-toggle="tooltip"]').tooltip()
        })
    </script>
<!-- Sidebar -->
{% endblock %}

{% block planetSlider %}

    <!-- slideshow Planetas -->

    <div id="planetSlider" class="slider">
        <style>
            @import url('https://fonts.googleapis.com/css?family=Titillium+Web');

            *, *:before, *:after {
                box-sizing: border-box;
                margin: 0;
                padding: 0;
            }

            body {
                width: 100%;
                height: 100vh;
            }

            .slider {
                width: 70vw;
                max-width: 300px;
                text-align: center;
                top: 0%;
                left: 125%;
                height: 100vh;
                position: relative;
                perspective: 1000px;
                transform: translate3d(-50%, -50%, 600px);
                /* ^^^ 600px for safari hack */
                transform-style: preserve-3d;
                display: flex;
                align-items: center;
            }

            .planetimage {
                width: 300px;
                cursor: pointer;
                filter: brightness(120%);
                filter: contrast(120%);
                filter: drop-shadow(10px 10px 10px black);
            }

            .planetname {
                display: block;
                font-size: 1.50em;
                font-weight: bold;
                color: #fbdcb9;
                font-family: 'Titillium Web', sans-serif;
                letter-spacing: 2px;
            }

            .planet {
                margin: auto;
                width: 100%;
                position: absolute;
                cursor: pointer;
            }
        </style>

        <div id="mercury" class="planet">
            <img class="planetimage" src="{% static 'media/mercury.png' %}">
            <a href="{% url 'space_trip:mercury' %}" style="text-decoration: none;" target="_self">
                <div class="planetname">MERCÚRIO</div>
            </a>
        </div>
        <div id="venus" class="planet">
            <img class="planetimage" src="{% static 'media/venus.png' %}">
            <a href="{% url 'space_trip:venus' %}" style="text-decoration: none;" target="_self">
                <div class="planetname">VÉNUS</div>
            </a>
        </div>
        <div id="earth" class="planet">
            <img class="planetimage" src="{% static 'media/earth.png' %}">
            <a href="{% url 'space_trip:earth' %}" style="text-decoration: none;" target="_self">
                <div class="planetname">TERRA</div>
            </a>
        </div>
        <div id="mars" class="planet">
            <img class="planetimage" src="{% static 'media/mars.png' %}">
            <a href="{% url 'space_trip:mars' %}" style="text-decoration: none;" target="_self">
                <div class="planetname">MARTE</div>
            </a>
        </div>
        <div id="moon" class="planet">
            <img class="planetimage" src="{% static 'media/moon.png' %}">
            <a href="{% url 'space_trip:moon' %}" style="text-decoration: none;" target="_self">
                <div class="planetname">LUA</div>
            </a>
        </div>
        <div id="jupiter" class="planet">
            <img class="planetimage" src="{% static 'media/jupiter.png' %}">
            <a href="{% url 'space_trip:jupiter' %}" style="text-decoration: none;" target="_self">
                <div class="planetname">JÚPITER</div>
            </a>
        </div>
        <div id="saturn" class="planet">
            <img class="planetimage" src="{% static 'media/saturn.png' %}">
            <a href="{% url 'space_trip:saturn' %}" style="text-decoration: none;" target="_self">
                <div class="planetname">SATURNO</div>
            </a>
        </div>
        <div id="uranus" class="planet">
            <img class="planetimage" src="{% static 'media/uranus.png' %}">
            <a href="{% url 'space_trip:uranus' %}" style="text-decoration: none;" target="_self">
                <div class="planetname">URANO</div>
            </a>
        </div>
        <div id="neptune" class="planet">
            <img class="planetimage" src="{% static 'media/neptune.png' %}">
            <a href="{% url 'space_trip:neptune' %}" style="text-decoration: none;" target="_self">
                <div class="planetname">NEPTUNO</div>
            </a>
        </div>
    </div>

    <!-- slideshow Planetas -->
{% endblock %}

<script>

    function show(planet) {
        document.getElementById(planet).style.display = "block";
    }

    function hide(planet) {
        document.getElementById(planet).style.display = "none";
    }

    $(".planet").click(function () {
        $('.slider').attr("planet-center", this.id);
        if (this.id == "mercury") centermercury();
        if (this.id == "venus") centervenus();
        if (this.id == "earth") centerearth();
        if (this.id == "moon") centermoon();
        if (this.id == "mars") centermars();
        if (this.id == "jupiter") centerjupiter();
        if (this.id == "saturn") centersaturn();
        if (this.id == "uranus") centeruranus();
        if (this.id == "neptune") centerneptune();
    });

    function centermercury() {
        var tl = new TimelineMax()
            .to('#mercury', 1, {xPercent: 0, z: 1}, 0) // Center
            .to('#venus', 1, {xPercent: 200, z: -800}, 0) // Right
            .to('#neptune', 1, {xPercent: -200, z: -800}, 0) // Left
            .to('#uranus', 1, {xPercent: -260, z: -1500}, 0)
            .to('#saturn', 1, {xPercent: -260, z: -1500}, 0)
            .to('#jupiter', 1, {xPercent: -260, z: -1500}, 0)
            .to('#earth', 1, {xPercent: 260, z: -1500}, 0)
            .to('#moon', 1, {xPercent: 260, z: -1500}, 0)
            .to('#mars', 1, {xPercent: 260, z: -1500}, 0)
    }

    function centervenus() {
        var tl = new TimelineMax()
            .to('#venus', 1, {xPercent: 0, z: 1}, 0)
            .to('#earth', 1, {xPercent: 200, z: -800}, 0)
            .to('#mercury', 1, {xPercent: -200, z: -800}, 0)
            .to('#moon', 1, {xPercent: 260, z: -1500}, 0)
            .to('#mars', 1, {xPercent: 260, z: -1500}, 0)
            .to('#jupiter', 1, {xPercent: 260, z: -1500}, 0)
            .to('#neptune', 1, {xPercent: -260, z: -1500}, 0)
            .to('#uranus', 1, {xPercent: -260, z: -1500}, 0)
            .to('#saturn', 1, {xPercent: -260, z: -1500}, 0)
    }

    function centerearth() {
        var tl = new TimelineMax()
            .to('#earth', 1, {xPercent: 0, z: 1}, 0)
            .to('#moon', 1, {xPercent: 200, z: -800}, 0)
            .to('#venus', 1, {xPercent: -200, z: -800}, 0)
            .to('#mars', 1, {xPercent: 260, z: -1500}, 0)
            .to('#jupiter', 1, {xPercent: 260, z: -1500}, 0)
            .to('#saturn', 1, {xPercent: 260, z: -1500}, 0)
            .to('#mercury', 1, {xPercent: -260, z: -1500}, 0)
            .to('#neptune', 1, {xPercent: -260, z: -1500}, 0)
            .to('#uranus', 1, {xPercent: -260, z: -1500}, 0)
    }

    function centermoon() {
        var tl = new TimelineMax()
            .to('#moon', 1, {xPercent: 0, z: 1}, 0)
            .to('#mars', 1, {xPercent: 200, z: -800}, 0)
            .to('#earth', 1, {xPercent: -200, z: -800}, 0)
            .to('#jupiter', 1, {xPercent: 260, z: -1500}, 0)
            .to('#saturn', 1, {xPercent: 260, z: -1500}, 0)
            .to('#uranus', 1, {xPercent: 260, z: -1500}, 0)
            .to('#venus', 1, {xPercent: -260, z: -1500}, 0)
            .to('#mercury', 1, {xPercent: -260, z: -1500}, 0)
            .to('#neptune', 1, {xPercent: -260, z: -1500}, 0)
    }

    function centermars() {
        var tl = new TimelineMax()
            .to('#mars', 1, {xPercent: 0, z: 1}, 0)
            .to('#jupiter', 1, {xPercent: 200, z: -800}, 0)
            .to('#moon', 1, {xPercent: -200, z: -800}, 0)
            .to('#saturn', 1, {xPercent: 260, z: -1500}, 0)
            .to('#uranus', 1, {xPercent: 260, z: -1500}, 0)
            .to('#neptune', 1, {xPercent: 260, z: -1500}, 0)
            .to('#earth', 1, {xPercent: -260, z: -1500}, 0)
            .to('#venus', 1, {xPercent: -260, z: -1500}, 0)
            .to('#mercury', 1, {xPercent: -260, z: -1500}, 0)
    }

    function centerjupiter() {
        var tl = new TimelineMax()
            .to('#jupiter', 1, {xPercent: 0, z: 1}, 0)
            .to('#saturn', 1, {xPercent: 200, z: -800}, 0)
            .to('#mars', 1, {xPercent: -200, z: -800}, 0)
            .to('#uranus', 1, {xPercent: 260, z: -1500}, 0)
            .to('#neptune', 1, {xPercent: 260, z: -1500}, 0)
            .to('#mercury', 1, {xPercent: 260, z: -1500}, 0)
            .to('#moon', 1, {xPercent: -260, z: -1500}, 0)
            .to('#earth', 1, {xPercent: -260, z: -1500}, 0)
            .to('#venus', 1, {xPercent: -260, z: -1500}, 0)
    }

    function centersaturn() {
        var tl = new TimelineMax()
            .to('#saturn', 1, {xPercent: 0, z: 1}, 0)
            .to('#uranus', 1, {xPercent: 200, z: -800}, 0)
            .to('#jupiter', 1, {xPercent: -200, z: -800}, 0)
            .to('#neptune', 1, {xPercent: 260, z: -1500}, 0)
            .to('#mercury', 1, {xPercent: 260, z: -1500}, 0)
            .to('#venus', 1, {xPercent: 260, z: -1500}, 0)
            .to('#mars', 1, {xPercent: -260, z: -1500}, 0)
            .to('#moon', 1, {xPercent: -260, z: -1500}, 0)
            .to('#earth', 1, {xPercent: -260, z: -1500}, 0)
    }

    function centeruranus() {
        var tl = new TimelineMax()
            .to('#uranus', 1, {xPercent: 0, z: 1}, 0)
            .to('#neptune', 1, {xPercent: 200, z: -800}, 0)
            .to('#saturn', 1, {xPercent: -200, z: -800}, 0)
            .to('#mercury', 1, {xPercent: 260, z: -1500}, 0)
            .to('#venus', 1, {xPercent: 260, z: -1500}, 0)
            .to('#earth', 1, {xPercent: 260, z: -1500}, 0)
            .to('#jupiter', 1, {xPercent: -260, z: -1500}, 0)
            .to('#mars', 1, {xPercent: -260, z: -1500}, 0)
            .to('#moon', 1, {xPercent: -260, z: -1500}, 0)
    }

    function centerneptune() {
        var tl = new TimelineMax()
            .to('#neptune', 1, {xPercent: 0, z: 1}, 0)
            .to('#mercury', 1, {xPercent: 200, z: -800}, 0)
            .to('#uranus', 1, {xPercent: -200, z: -800}, 0)
            .to('#venus', 1, {xPercent: 260, z: -1500}, 0)
            .to('#earth', 1, {xPercent: 260, z: -1500}, 0)
            .to('#moon', 1, {xPercent: 260, z: -1500}, 0)
            .to('#saturn', 1, {xPercent: -260, z: -1500}, 0)
            .to('#jupiter', 1, {xPercent: -260, z: -1500}, 0)
            .to('#mars', 1, {xPercent: -260, z: -1500}, 0)
    }


    $(function () {
        centermercury();
    })
</script>

</html>