<!DOCTYPE html>
<html lang="pt">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <title> {% block title %} 👨‍🚀 Space4All 👩‍🚀 {% endblock %} </title>
    <link rel="stylesheet" type="text/css" href="{% static 'space_trip/css/planetslider.css' %}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
    <script src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/16327/MorphSVGPlugin.min.js"></script>

    <script src="{% static 'space_trip/scripts/scripts.js' %}"></script>
</head>

<meta name="viewport" content="width=device-width, initial-scale=1">

{% block header %}

    <header class="header">

            <link rel="shortcut icon" type="image/png" href="{% static 'media/favicon.ico' %}"/>

        {% block body %}

            {% if request.user.is_authenticated %}
                <a onmouseover="show()" id="u" onmouseout="hide()">{{ request.user.username }} tem a sessão iniciada</a>
                <br>
                <br>
                <center><img id="userimage" src="{{ uploaded_file_url }}" style="display:none;"></center>

            {% else %}
                <p style="font-color: white; margin-top:0px;">O utilizador não tem a sessão iniciada</p>

                <form action="{% url 'space_trip:register' %}">
                    <input type="submit" class="mr-0" value="Criar conta"/>
                </form>

            {% endif %}

            <div>
                {% if request.user.is_authenticated %}
                    <p><a href="{% url 'space_trip:profile' %}"/>O teu profile</p>
                {% endif %}
            </div>

        {% endblock %}
        <form action="{% url 'space_trip:login' %}">
            <input type="submit" class="mr-0" value="Iniciar Sessão">
        </form>
        <form action="{% url 'space_trip:index' %}">
            <input type="image" src="{% static 'media/spicy space/SPACE4ALL_02 white.png' %}" alt="Logo" style="width:10%">
        </form>
    </header>

{% endblock %}

{% block planet %}

{% endblock %}

<body id="bg" style="background-image: url('{% static 'media/universe.png' %}');">

<nav class="sidenav">

    {% block homepage %}
    {% endblock %}
</nav>

{% block slidePlanetas %}

    {% load static %}

    <div class="container">
        <div id="mercury" class="planet">
            <img src="{% static 'media/mercury.png' %}">
            <a href="{% url 'space_trip:mercury' %}" style="text-decoration: none;" target="_self"><h3>MERCÚRIO</h3></a>
        </div>
        <div id="venus" class="planet">
            <img src="{% static 'media/venus.png' %}">
            <a href="{% url 'space_trip:venus' %}" style="text-decoration: none;" target="_self"><h3>VÉNUS</h3></a>
        </div>
        <div id="earth" class="planet">
            <img src="{% static 'media/earth.png' %}">
            <a href="{% url 'space_trip:earth' %}" style="text-decoration: none;" target="_self"><h3>TERRA</h3></a>
        </div>
        <div id="mars" class="planet">
            <img src="{% static 'media/mars.png' %}">
            <a href="{% url 'space_trip:mars' %}" style="text-decoration: none;" target="_self"><h3>MARTE</h3></a>
        </div>
        <div id="moon" class="planet">
            <img src="{% static 'media/moon.png' %}">
            <a href="{% url 'space_trip:moon' %}" style="text-decoration: none;" target="_self"><h3>LUA</h3></a>
        </div>
        <div id="jupiter" class="planet">
            <img src="{% static 'media/jupiter.png' %}">
            <a href="{% url 'space_trip:jupiter' %}" style="text-decoration: none;" target="_self"><h3>JÚPITER</h3></a>
        </div>
        <div id="saturn" class="planet">
            <img src="{% static 'media/saturn.png' %}">
            <a href="{% url 'space_trip:saturn' %}" style="text-decoration: none;" target="_self"><h3>SATURNO</h3></a>
        </div>
        <div id="uranus" class="planet">
            <img src="{% static 'media/uranus.png' %}">
            <a href="{% url 'space_trip:uranus' %}" style="text-decoration: none;" target="_self"><h3>URANO</h3></a>
        </div>
        <div id="neptune" class="planet">
            <img src="{% static 'media/neptune.png' %}">
            <a href="{% url 'space_trip:neptune' %}" style="text-decoration: none;" target="_self"><h3>NEPTUNO</h3></a>
        </div>
    </div>

{% endblock %}

<script>

    function show(planet) {
        document.getElementById(planet).style.display = "block";
    }

    function hide(planet) {
        document.getElementById(planet).style.display = "none";
    }

    $(".planet").click(function () {
        $('.container').attr("planet-center", this.id);
        if (this.id == "mercury") centermercury();
        if (this.id == "venus") centervenus();
        if (this.id == "earth") centerearth();
        if (this.id == "moon") centermoon();
        if (this.id == "mars") centermars();
        if (this.id == "jupiter") centerjupiter();
        if (this.id == "saturn") centersaturn();
        if (this.id == "uranus") centeruranus();
        if (this.id == "neptune") centerneptune();
    });

    function centermercury() {
        var tl = new TimelineMax()
            .to('#mercury', 1, {xPercent: 0, z: 1}, 0) // Center
            .to('#venus', 1, {xPercent: 200, z: -800}, 0) // Right
            .to('#neptune', 1, {xPercent: -200, z: -800}, 0) // Left
            .to('#uranus', 1, {xPercent: -260, z: -1500}, 0)
            .to('#saturn', 1, {xPercent: -260, z: -1500}, 0)
            .to('#jupiter', 1, {xPercent: -260, z: -1500}, 0)
            .to('#earth', 1, {xPercent: 260, z: -1500}, 0)
            .to('#moon', 1, {xPercent: 260, z: -1500}, 0)
            .to('#mars', 1, {xPercent: 260, z: -1500}, 0)
    }

    function centervenus() {
        var tl = new TimelineMax()
            .to('#venus', 1, {xPercent: 0, z: 1}, 0)
            .to('#earth', 1, {xPercent: 200, z: -800}, 0)
            .to('#mercury', 1, {xPercent: -200, z: -800}, 0)
            .to('#moon', 1, {xPercent: 260, z: -1500}, 0)
            .to('#mars', 1, {xPercent: 260, z: -1500}, 0)
            .to('#jupiter', 1, {xPercent: 260, z: -1500}, 0)
            .to('#neptune', 1, {xPercent: -260, z: -1500}, 0)
            .to('#uranus', 1, {xPercent: -260, z: -1500}, 0)
            .to('#saturn', 1, {xPercent: -260, z: -1500}, 0)
    }

    function centerearth() {
        var tl = new TimelineMax()
            .to('#earth', 1, {xPercent: 0, z: 1}, 0)
            .to('#moon', 1, {xPercent: 200, z: -800}, 0)
            .to('#venus', 1, {xPercent: -200, z: -800}, 0)
            .to('#mars', 1, {xPercent: 260, z: -1500}, 0)
            .to('#jupiter', 1, {xPercent: 260, z: -1500}, 0)
            .to('#saturn', 1, {xPercent: 260, z: -1500}, 0)
            .to('#mercury', 1, {xPercent: -260, z: -1500}, 0)
            .to('#neptune', 1, {xPercent: -260, z: -1500}, 0)
            .to('#uranus', 1, {xPercent: -260, z: -1500}, 0)
    }

    function centermoon() {
        var tl = new TimelineMax()
            .to('#moon', 1, {xPercent: 0, z: 1}, 0)
            .to('#mars', 1, {xPercent: 200, z: -800}, 0)
            .to('#earth', 1, {xPercent: -200, z: -800}, 0)
            .to('#jupiter', 1, {xPercent: 260, z: -1500}, 0)
            .to('#saturn', 1, {xPercent: 260, z: -1500}, 0)
            .to('#uranus', 1, {xPercent: 260, z: -1500}, 0)
            .to('#venus', 1, {xPercent: -260, z: -1500}, 0)
            .to('#mercury', 1, {xPercent: -260, z: -1500}, 0)
            .to('#neptune', 1, {xPercent: -260, z: -1500}, 0)
    }

    function centermars() {
        var tl = new TimelineMax()
            .to('#mars', 1, {xPercent: 0, z: 1}, 0)
            .to('#jupiter', 1, {xPercent: 200, z: -800}, 0)
            .to('#moon', 1, {xPercent: -200, z: -800}, 0)
            .to('#saturn', 1, {xPercent: 260, z: -1500}, 0)
            .to('#uranus', 1, {xPercent: 260, z: -1500}, 0)
            .to('#neptune', 1, {xPercent: 260, z: -1500}, 0)
            .to('#earth', 1, {xPercent: -260, z: -1500}, 0)
            .to('#venus', 1, {xPercent: -260, z: -1500}, 0)
            .to('#mercury', 1, {xPercent: -260, z: -1500}, 0)
    }

    function centerjupiter() {
        var tl = new TimelineMax()
            .to('#jupiter', 1, {xPercent: 0, z: 1}, 0)
            .to('#saturn', 1, {xPercent: 200, z: -800}, 0)
            .to('#mars', 1, {xPercent: -200, z: -800}, 0)
            .to('#uranus', 1, {xPercent: 260, z: -1500}, 0)
            .to('#neptune', 1, {xPercent: 260, z: -1500}, 0)
            .to('#mercury', 1, {xPercent: 260, z: -1500}, 0)
            .to('#moon', 1, {xPercent: -260, z: -1500}, 0)
            .to('#earth', 1, {xPercent: -260, z: -1500}, 0)
            .to('#venus', 1, {xPercent: -260, z: -1500}, 0)
    }

    function centersaturn() {
        var tl = new TimelineMax()
            .to('#saturn', 1, {xPercent: 0, z: 1}, 0)
            .to('#uranus', 1, {xPercent: 200, z: -800}, 0)
            .to('#jupiter', 1, {xPercent: -200, z: -800}, 0)
            .to('#neptune', 1, {xPercent: 260, z: -1500}, 0)
            .to('#mercury', 1, {xPercent: 260, z: -1500}, 0)
            .to('#venus', 1, {xPercent: 260, z: -1500}, 0)
            .to('#mars', 1, {xPercent: -260, z: -1500}, 0)
            .to('#moon', 1, {xPercent: -260, z: -1500}, 0)
            .to('#earth', 1, {xPercent: -260, z: -1500}, 0)
    }

    function centeruranus() {
        var tl = new TimelineMax()
            .to('#uranus', 1, {xPercent: 0, z: 1}, 0)
            .to('#neptune', 1, {xPercent: 200, z: -800}, 0)
            .to('#saturn', 1, {xPercent: -200, z: -800}, 0)
            .to('#mercury', 1, {xPercent: 260, z: -1500}, 0)
            .to('#venus', 1, {xPercent: 260, z: -1500}, 0)
            .to('#earth', 1, {xPercent: 260, z: -1500}, 0)
            .to('#jupiter', 1, {xPercent: -260, z: -1500}, 0)
            .to('#mars', 1, {xPercent: -260, z: -1500}, 0)
            .to('#moon', 1, {xPercent: -260, z: -1500}, 0)
    }

    function centerneptune() {
        var tl = new TimelineMax()
            .to('#neptune', 1, {xPercent: 0, z: 1}, 0)
            .to('#mercury', 1, {xPercent: 200, z: -800}, 0)
            .to('#uranus', 1, {xPercent: -200, z: -800}, 0)
            .to('#venus', 1, {xPercent: 260, z: -1500}, 0)
            .to('#earth', 1, {xPercent: 260, z: -1500}, 0)
            .to('#moon', 1, {xPercent: 260, z: -1500}, 0)
            .to('#saturn', 1, {xPercent: -260, z: -1500}, 0)
            .to('#jupiter', 1, {xPercent: -260, z: -1500}, 0)
            .to('#mars', 1, {xPercent: -260, z: -1500}, 0)
    }


    $(function () {
        centermercury();
    })
</script>

</body>
</html>