{% extends "./secondbase.html" %}

{% block title %} Mercúrio {% endblock %}

{% load static %}

{% block planet %}

    <p><img src="{% static "media/mercury.png" %}" alt="Mercúrio" style="width:100%"></p>
    <p>Mercúrio é o planeta do Sistema Solar mais próximo do Sol.</p>
    <p>Devido a esta proximidade é, em geral, muito difícil observar Mercúrio a partir da Terra, a não ser ao nascer ou pôr do sol.</p>
    <p>Treze vezes por século ocorre um fenómeno, o trânsito de Mercúrio, em que a passagem deste planeta em frente ao Sol é visível a partir da Terra.</p>
    <p>O seu diâmetro é de cerca de 4878 km, menos de metade do da Terra, e a sua massa é de cerca de 0,055 da massa do nosso planeta. Move-se numa órbita muito excêntrica (e = 0,2056), que faz um ângulo de 7º com a eclíptica. As distâncias mínima e máxima ao Sol são de 46 e 70 milhões de quilómetros, no periélio e no afélio, respetivamente. O tempo necessário para descrever uma translação completa é de aproximadamente 87,97 dias terrestres. O seu movimento de rotação é tal, que uma volta é dada em 58,65 dias. Nestas condições, a duração do dia solar (intervalo de tempo entre duas passagens consecutivas do Sol pelo meridiano de um lugar) é sensivelmente igual a 176 dias terrestres. Mercúrio é o único planeta do sistema solar a ter dias mais longos do que o ano. As temperaturas variam entre -173 ºC (na parte não iluminada quando o planeta está mais distante do Sol) e 350 ºC a 430 ºC (na parte iluminada quando está mais próximo do Sol).</p>
    <p>As fotografias obtidas pela sonda Mariner-10 em 1974 foram as primeiras a revelar as características físicas do planeta, evidenciando uma grande similitude com a Lua: Mercúrio tem inúmeras crateras resultantes do impacto de corpos celestes.</p>
    <p>Tem uma atmosfera muito ténue e por isso não apresenta erosão aquosa ou eólica. Possui um campo magnético relativamente intenso (3,5 x 10-7 Tesla) e denota a existência de um grande núcleo de ferro, já que a sua densidade média é de cerca de 5,42 g/cm3, um valor muito aproximado da densidade do nosso planeta.</p>
    <p>No século XIX os astrónomos que estudavam este planeta fizeram medições muito cuidadosas de diversos parâmetros orbitais de Mercúrio mas não conseguiam explicar a diferença entre os valores observados e os previstos teoricamente, pela mecânica newtoniana. Chegaram até a pensar que um outro planeta, mais próximo do Sol, estaria a contribuir para a existência dessas diferenças. Esse suposto planeta nunca foi encontrado. Em vez disso, foi a teoria da Relatividade Geral, de Einstein, que permitiu compreender estas dissimilaridades.</p>

{% endblock %}

{% block body %}

{% endblock %}