{% extends "./index.html" %}

{% block title %} Space4All | Lua {% endblock %}

{% load static %}

{% block body %}

    <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
    <script nomodule src="https://unpkg.com/@google/model-viewer/dist/model-viewer-legacy.js"></script>
    <br>
        <div id="aSide">
        <model-viewer loading="eager" src="{% static "media/3D/moon.glb" %}" alt="Lua" auto-rotate camera-controls ar ios-src="{% static "media/3D/moon.glb" %}"></model-viewer>
        <style>
            /* This styles the aside container */
            #aSide {
                height: 600px;
                width: 600px;
                position: fixed;
                top: calc(50% - 250px);
                right: 50%;
            }

            /* This styles the 3D object inserted in the aside container */
            #aSide model-viewer {
                height: 600px;
                width: 600px;
                position: absolute;
                top: 0;
                left: 0;
                border: none;
                --poster-color: transparent;
            }
        </style>
    </div>
    <br>
    <div style="float: right; width: 50%">
            <style>
                @import url('https://fonts.googleapis.com/css?family=Titillium+Web');
                .planetname {
                    display: block;
                    font-size: 1.80em;
                    font-weight: bold;
                    color: #fbdcb9;
                    font-family: 'Titillium Web', sans-serif;
                    letter-spacing: 2px;
                    text-align: center;
                }
            </style>
        <h2 class="planetname">Lua</h2>
    <br>
    <figure class="text-center" style="margin: 30px 20px 10px 20px">
        <p class="lead" style="color: white">A Lua é o único satélite natural da Terra e o astro mais próximo do nosso planeta. Descreve uma órbita elíptica em volta da Terra com uma excentricidade média e = 0,0549, em 27 dias 7h 43min 11,6s. A distância média a que se encontra da Terra é de 384 400 km. O plano definido pela órbita faz um ângulo de 5o 8´ 43´´ com a eclíptica. O seu diâmetro médio é de 3476 km, correspondendo a um diâmetro aparente médio de 31´ 26´´. A sua massa é de 7,344x1022 kg, ou seja, 1/81,301 da massa da Terra.</p>
        <p class="lead" style="color: white">A sua densidade média é de 3,34, pouco mais de metade da da Terra. Possui um movimento de rotação com uma particularidade notável: tem exatamente a mesma duração que a revolução em torno da Terra, o que faz com que a Lua volte sempre a mesma face para a Terra. Este sincronismo parece ser devido à atração terrestre, a qual teria feito com que, num passado longínquo, as elevadas forças de maré, produzidas pela Terra, provocassem uma lenta diminuição da velocidade de rotação da Lua, até igualar o valor da sua revolução. Rigorosamente, a rotação da Lua não é constante.</p>
        <p class="lead" style="color: white">Devido a vários fenómenos de atração gravitacional por parte da Terra, do Sol e dos restantes planetas, uma vez que a Lua não é perfeitamente esférica, observam-se ligeiras oscilações do globo lunar em torno da posição média, a que se dá o nome de liberações. Tendo em conta todos os fenómenos de liberação, um observador terrestre vê no seu conjunto cerca de 59% da superfície da Lua; os restantes 41% nunca são vistos da Terra.</p>
        <p class="lead" style="color: white">A atração gravitacional à superfície da Lua é de cerca de 1/6 da da Terra, facto que permitiu aos astronautas do programa Apollo poderem deslocar-se sobre o solo lunar sem muitas dificuldades, apesar do enorme e pesado escafandro e das importantes reservas de oxigénio que transportavam às costas. A sua superfície é constituída por terrenos sombrios, bastante planos, a que foi dado o nome de mares, embora não tenham uma única gota de água.</p>
        <p class="lead" style="color: white">Existem também, em maior quantidade, terrenos mais claros e montanhosos, os continentes. Mares e continentes estão crivados de depressões circulares chamadas crateras ou circos, rodeados de montanhas que por vezes chegam aos 8200 m de altura. Essas crateras deverão ter sido formadas pelo impacto de corpos que chocaram com a superfície lunar.</p>
        <p class="lead" style="color: white">Devido à quase completa ausência de atmosfera na Lua, há uma amplitude térmica considerável entre a parte iluminada e a não iluminada. Na primeira o valor da temperatura é de +117 oC, enquanto que na segunda é de -171 oC, o que corresponde a uma amplitude térmica de quase 300 oC. Adicionando o facto da não existência de água à superfície da Lua, é fácil perceber a inexistência de erosão.</p>
        <p class="lead" style="color: white">A atividade sísmica da Lua é pouco significativa. Foram registados sinais dessa atividade, mas com focos a profundidades na ordem dos 700 a 1000 km, contrariamente ao que acontece na Terra.</p>
        <p class="lead" style="color: white">Das amostras lunares trazidas e analisadas na Terra, foram detetados apenas dois minerais desconhecidos; todos os outros eram já familiares.</p>
        <p class="lead" style="color: white">A Lua, após a sua individualização como astro, completada há cerca de 4500 milhões de anos, sofreu uma fusão das camadas exteriores até à profundidade de pelo menos 400 km, devido à acreção de matéria e à radioatividade. Posteriormente arrefeceu e cristalizou. Os elementos mais densos ocuparam os lugares mais profundos, enquanto os mais leves (essencialmente feldspatos) flutuaram à superfície e formaram a crusta.</p>
        <p class="lead" style="color: white">A origem da Lua é até hoje um enigma. Várias teorias foram já formuladas, mas todas elas contêm pontos fracos para serem bem aceites. Apesar dos numerosos progressos alcançados durante os últimos 40 anos, muito há ainda a fazer para um melhor conhecimento do nosso satélite.</p>
        <p class="lead" style="color: white">Fases da Lua: A cada uma das sucessivas modificações que pode apresentar qualquer corpo celeste - especialmente a cada uma das aparências que nos é apresentada pela Lua - em função de como é alumiado pelo Sol, chama-se fase. Os diferentes aspetos em que a Lua pode ser vista da Terra explicam-se pelas variações de uma posição relativa, quer face à Terra quer face ao Sol. As fases da lua nova, quarto crescente, lua cheia e quarto minguante decorrem ao longo de um ciclo de lunação que dura 29 dias, 12 horas e quarenta e quatro minutos.</p>
    </figure>

{% endblock %}

{% block planetSlider %}

{% endblock %}