{% extends "./index.html" %}

{% block title %} Space4All | Planear viagem {% endblock %}

{% load static %}

{% block body %}

    <section class="h-100 gradient-form">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-xl-10">
                    <div class="card rounded-3 text-black">
                        <div class="row g-0">
                            <div class="col-lg-6">
                                <div class="card-body p-md-5 mx-md-4">

                                    <div class="text-center">
                                        <img src="{% static 'spicy space/SPACE4ALL_02 transparent.png' %}" style="width: 40%;" alt="logo">
                                        <h4 class="mt-1 mb-5 pb-1">We have Space4All</h4>
                                    </div>

                                    <form action="{% url 'space_trip:planTrip' %}" method="post">
                                        {% csrf_token %}

                                        <div class="form-outline mb-4">
                                            <label for="origin" class="form-label" for="form2Example22">Origem:</label>
                                            <select name="origin" id="origin" class="form-control">
                                                <option value="{{ origin }}" selected disabled>{{ origin }}</option>
                                                <option>Mercúrio</option><option>Vénus</option><option>Terra</option><option>Lua</option><option>Marte</option><option>Júpiter</option><option>Saturno</option><option>Urano</option><option>Neptuno</option>
                                            </select>
                                        </div>

                                        <div class="form-outline mb-4">
                                            <label for="destination" class="form-label" for="form2Example22">Destino:</label>
                                            <select name="destination" id="destination" class="form-control">
                                                <option value="{{ destination }}" selected disabled>{{ origin }}</option>
                                                <option value="Mercúrio">Mercúrio</option><option value="Vénus">Vénus</option><option value="Terra">Terra</option><option value="Lua">Lua</option><option value="Marte">Marte</option><option value="Júpiter">Júpiter</option><option value="Saturno">Saturno</option><option value="Urano">Urano</option><option value="Neptuno">Neptuno</option>
                                            </select>
                                        </div>

                                        <div class="form-outline mb-4">
                                            <label for="departure_date" class="form-label" for="form2Example22">Data de Partida:</label>
                                            <input name="departure_date" type="date" id="form2Example22" class="form-control"/>
                                        </div>

                                        <div class="form-outline mb-4">
                                            <label for="return_date" class="form-label" for="form2Example22">Data de Regresso:</label>
                                            <input name="return_date" type="date" id="form2Example22" class="form-control"/>
                                        </div>

                                        <div class="form-outline mb-4">
                                            <label for="number_of_passengers" class="form-label" for="form2Example22">N.º de Passageiros:</label>
                                            <input name="number_of_passengers" type="number" id="form2Example22" class="form-control"/>
                                        </div>

                                        <div class="text-center pt-1 mb-5 pb-1">
                                            <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" formaction="{% url 'space_trip:planTrip' %}" formmethod="post" type="submit">Confirmar</button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-6 d-flex align-items-center" style="background: url('{% static 'spicy space/European-astronauts-bg.jpg' %}') 100% 0 no-repeat fixed">
                                <div class="px-3 py-4 p-md-5 mx-md-4">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

{% block planetSlider %}

{% endblock %}