{% extends "./index.html" %}

{% load static %}

{% block title %}
    Space4All | Criar conta
{% endblock %}

{% block body %}
    <section class="h-100 gradient-form">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-xl-10">
                    <div class="card rounded-3 text-black">
                        <div class="row g-0">
                            <div class="col-lg-6">
                                <div class="card-body p-md-5 mx-md-4">

                                    <div class="text-center">
                                        <img src="{% static 'spicy space/SPACE4ALL_02 transparent.png' %}" style="width: 40%;" alt="logo">
                                        <h4 class="mt-1 mb-5 pb-1">We have Space4All</h4>
                                    </div>

                                    <form id="form1" action="{% url 'space_trip:register' %}" method="post">
                                        {% csrf_token %}
                                        <p>Por favor, introduza os seus dados:</p><br>

                                        <div class="form-outline mb-4">
                                            <label for="firstname" class="form-label" for="form2Example22">Primeiro Nome:</label>
                                            <input name="firstname" type="firstname" class="form-control"/>
                                        </div>

                                        <div class="form-outline mb-4">
                                            <label for="surname" class="form-label" for="form2Example22">Apelido:</label>
                                            <input name="surname" type="surname" class="form-control"/>
                                        </div>

                                        <div class="form-outline mb-4">
                                            <label for="email" class="form-label" for="form2Example11">E-mail:</label>
                                            <input name="email" type="text" class="form-control" placeholder="Introduzir E-mail"/>
                                        </div>

                                        <div class="form-outline mb-4">
                                            <label for="username" class="form-label" for="form2Example11">Nome de Utilizador:</label>
                                            <input name="username" type="text" id="form2Example11" class="form-control" placeholder="Criar Nome de Utilizador"/>
                                        </div>

                                        <div class="form-outline mb-4">
                                            <label for="password" class="form-label" for="form2Example22">Palavra-passe:</label>
                                            <input name="password" type="password" class="form-control" placeholder="Criar Palavra-passe"/>
                                        </div>

                                        <div class="form-outline mb-4">
                                            <script type='text/javascript' src='http://code.jquery.com/jquery-1.9.1.js'></script>
                                            <script type="text/javascript">
                                            $(window).load(function(){
                                            var dt= document.getElementById('birthday');
                                            if (dt) {
                                            dt.onchange = function () {
                                               dt.setAttribute('type', 'text');
                                               dt.setAttribute('type', 'date');
                                            }
                                            }
                                            });
                                            </script>
                                            <label for="birthday" class="form-label" for="form2Example22">Data de Nascimento:</label>
                                            <input name="birthday" type="date" id="form2Example22" class="form-control"/>
                                        </div>

                                        <div class="form-outline mb-4">
                                            <label for="gender" class="form-label" for="form2Example22">Género:</label>
                                            <br>
                                            <div class="form-check form-check-inline">
                                              <input class="form-check-input" type="radio" name="gender" id="inlineRadio1" value="Feminino">
                                              <label class="form-check-label" for="inlineRadio1">Feminino</label>
                                            </div>
                                            <div class="form-check form-check-inline">
                                              <input class="form-check-input" type="radio" name="gender" id="inlineRadio2" value="Masculino">
                                              <label class="form-check-label" for="inlineRadio2">Masculino</label>
                                            </div>
                                        </div>

                                        <div class="form-outline mb-4">
                                            <label for="planetionality" class="form-label" for="form2Example22">Planetalidade:</label>
                                            <select name="planetionality" id="planetionality" class="form-control">
                                                <option value="" selected disabled>- Por favor, selecione o seu Planeta -</option>
                                                <option>Mercúrio</option><option>Vénus</option><option>Terra</option><option>Lua</option><option>Marte</option><option>Júpiter</option><option>Saturno</option><option>Urano</option><option>Neptuno</option>
                                            </select>
                                        </div>

                                        <div class="text-center pt-1 mb-5 pb-1">
                                            <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">Criar conta</button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-6 d-flex align-items-center" style="background: url('{% static 'spicy space/start.jpg' %}') 90% 0 no-repeat fixed">
                                <div class="px-3 py-4 p-md-5 mx-md-4">
                                  <style>
                                        .glow {
                                          color: #fff;
                                          text-align: left;
                                          animation: glow 1s ease-in-out infinite alternate;
                                        }

                                        @-webkit-keyframes glow {
                                          from {
                                            text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #8d8d8d, 0 0 40px #8d8d8d, 0 0 50px #8d8d8d, 0 0 60px #8d8d8d, 0 0 70px #8d8d8d;
                                          }

                                          to {
                                            text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #8d8d8d, 0 0 50px #8d8d8d, 0 0 60px #8d8d8d, 0 0 70px #8d8d8d, 0 0 80px #8d8d8d;
                                          }
                                        }
                                    </style>
                                    <br><br><br><br><br>
                                    <h4 style="color: white" class="glow mb-4">Comece esta viagem connosco!</h4>
                                    <br>
                                    <p style="color: white" class="small mb-0">A nossa empresa trabalha diariamente para garantir o acesso das viagens espaciais a qualquer um, assegurando uma experiência de qualidade e segurança. O nosso objetivo passa por dar a conhecer o resto da galáxia a toda a gente.</p>
                                    <br>
                                    <p style="color: white" class="small mb-0">Venha ver as estrelas connosco!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block planetSlider %}

{% endblock %}