{% extends "./index.html" %}

{% block title %} Space4All | Gestão de Clientes {% endblock %}

{% load static %}

{% block planetSlider %}

{% endblock %}

{% block body %}

    <br><br>
    <h1 style="color: white; text-align: center;" class="glow display-4">Criar Viagem</h1>

    <section class="h-100 gradient-form">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-xl-10">
                    <div class="card rounded-3 text-black">
                        <div class="row g-0">
                            <div class="col-lg-6">
                                <div class="card-body p-md-5 mx-md-4">

                                    <div class="text-center">
                                        <img src="{% static 'spicy space/SPACE4ALL_02 transparent.png' %}" style="width: 40%;" alt="logo">
                                        <h4 class="mt-1 mb-5 pb-1">We have Space4All</h4>
                                    </div>

                                    <form action="{% url 'space_trip:trip-management' %}" method="post">
                                        {% csrf_token %}

                                        <div class="form-outline mb-4">
                                            <label for="origin" class="form-label">Origem:</label>
                                            <select name="origin" id="origin" class="form-control">
                                                <option value="" selected disabled>- Por favor, selecione a Origem -</option>
                                                <option>Mercúrio</option><option>Vénus</option><option>Terra</option><option>Lua</option><option>Marte</option><option>Júpiter</option><option>Saturno</option><option>Urano</option><option>Neptuno</option>
                                            </select>
                                        </div>

                                        <div class="form-outline mb-4">
                                            <label for="destination" class="form-label">Destino:</label>
                                            <select name="destination" id="destination" class="form-control">
                                                <option value="" selected disabled>- Por favor, selecione o Destino -</option>
                                                <option value="Mercúrio">Mercúrio</option><option value="Vénus">Vénus</option><option value="Terra">Terra</option><option value="Lua">Lua</option><option value="Marte">Marte</option><option value="Júpiter">Júpiter</option><option value="Saturno">Saturno</option><option value="Urano">Urano</option><option value="Neptuno">Neptuno</option>
                                            </select>
                                        </div>

                                        <div class="form-outline mb-4">
                                            <label for="departure_date" class="form-label">Data de Partida:</label>
                                            <input name="departure_date" type="date" id="departure_date" class="form-control"/>
                                        </div>

                                        <div class="form-outline mb-4">
                                            <label for="return_date" class="form-label">Data de Regresso:</label>
                                            <input name="return_date" type="date" id="return_date" class="form-control"/>
                                        </div>

                                        <div class="form-outline mb-4">
                                            <label for="price" class="form-label">Preço:</label>
                                            <div class="input-group mb-3">
                                              <input name="price" id="price" class="form-control" aria-label="Preço">
                                              <div class="input-group-append">
                                                <span class="input-group-text">€</span>
                                              </div>
                                            </div>
                                        </div>

                                        <div class="form-outline mb-4">
                                            <label for="spaceship" class="form-label">Nave Espacial:</label>
                                            <select name="spaceship" id="spaceship" class="form-control">
                                                <option value="" selected disabled>- Por favor, selecione a Nave Espacial -</option>
                                                <option value="deathStar">Death Star</option><option value="imperialShuttle">Imperial Shuttle</option><option value="millenniumFalcon">Millennium Falcon</option><option value="xWing">X-wing</option>
                                            </select>
                                        </div>

                                        <div class="form-outline mb-4">
                                            <label for="available_seats" class="form-label">Lugares disponíveis:</label>
                                            <div class="input-group mb-3">
                                              <input name="available_seats" id="available_seats" class="form-control" type="number">
                                            </div>
                                        </div>

                                        <div class="text-center pt-1 mb-5 pb-1">
                                            <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" formmethod="post" type="submit">Criar Viagem</button>
                                        </div>

                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-6 d-flex align-items-center" style="background: url('{% static 'spicy space/aesthetic-universe-nature-bg-earth-mountain-remixed-media.jpg' %}') center 12% no-repeat fixed">
                                <div class="px-3 py-4 p-md-5 mx-md-4">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}