{% extends "./secondbase.html" %}

{% block title %} Space4All | Urano {% endblock %}

{% load static %}

{% block planet %}

    <p><img src="{% static "media/uranus.png" %}" style="width:100%"></p>
    <p>É o sétimo planeta do Sistema Solar na ordem das distâncias ao Sol. Com uma órbita muito próxima do plano da eclíptica (46'), ao telescópio apresenta a forma de um disco bastante achatado e com uma coloração verde-azulada e um diâmetro angular médio de 3,75'' (arcos de segundo), o que corresponde a 50 000 km (4 vezes o da Terra).</p>
    <p>Encontra-se a uma distância média do Sol de 19,19 U.A. (1 U.A. = 1,496 x 108 km), o seu período de translação é de 84,02 anos terrestres, enquanto a sua rotação completa é efetuada em 17 h 14 min 24 s, em sentido retrógrado. Tem uma massa de 14,37 vezes a da Terra e um volume 63,1 vezes superior. A sua densidade média é de 1,30 g/cm3, que é um valor baixo. O pronunciado achatamento que o planeta apresenta deve-se à sua elevada velocidade de rotação. O plano equatorial faz um ângulo de 98º com o plano da órbita o que faz com que Urano pareça estar "deitado".</p>
    <p>Tem uma atmosfera muito espessa, com grandes quantidades de hidrogénio e de hélio e, contrariamente a Júpiter e Saturno, tem grandes concentrações de metano e vestígios de amoníaco. Tem uma temperatura à superfície de cerca de -190 ºC.</p>
    <p>Até hoje foram descobertos 27 satélites de Urano, cujo plano das órbitas quase coincide com o seu plano equatorial, logo, é quase perpendicular à eclíptica. Todos os satélites deste planeta têm nomes de personagens de obras de Shakespeare e de Alexander Pope e, de todos eles, Oberon e Titania são os maiores. A translação dos satélites é retrógrada.</p>
    <p>Urano possui um sistema de anéis idêntico ao de Saturno.</p>

{% endblock %}

{% block body %}

{% endblock %}